name: "automatic-release"

on:
  push:
    branches:
      - "master"
jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    permissions: write-all
    steps:
      - uses: actions/checkout@v5
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build project
        run: bun run build

      - uses: softprops/action-gh-release@v1
        with:
          files: dist/*
          tag_name: latest
          prerelease: true
